body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #7aaf9b;
    padding: 10px 0;
}

.navbar-brand .logo {
    width: 50px; /* Adjust the size of the logo */
    height: auto;
}

.navbar-nav .nav-item .nav-link {
    font-size: 16px;
    color: #333;
    padding: 10px 20px;
    transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #007bff;
}

.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%2888, 88, 88, 0.7%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}